doctype html
html(lang="en")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(charset="utf-8")
		title Accesories Fashion
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="", href="js/jquery-1.12.3.min.js")
	body
		header
			.container
				.row
					.header-selection
						p Default Welcome Msg!
						.dropdown
							button.btn.btn-default.dropdown-toggle#dropdownMenu1(type="button", data-toggle="dropdown", aria-expnded="true")
								img(src="images/flag1.png")
								span.caret
							ul.dropdown-menu(aria-labelledby="dropdownMenu1")
								li
									a
								li
									a
							button.btn.btn-default.dropdown-toggle#dropdownMenu1(type="button", data-toggle="dropdown", aria-expnded="true")
								img(src="images/flag2.png")
								span.caret
							ul.dropdown-menu(aria-labelledby="dropdownMenu1")
								li
									a
								li
									a
							button.btn.btn-default.dropdown-toggle#dropdownMenu1(type="button", data-toggle="dropdown", aria-expnded="true")
								img(src="images/flag2.png")
								span.caret
							ul.dropdown-menu(aria-labelledby="dropdownMenu1")
								li
									a
								li
									a
				.row
					.header-opening
						.col-md-4
							.hour
								i.glyphicon.glyphicon-time
								p.bigletter OPENING TIME
								p.numbers 9:00 AM - 10:00 PM
						.col-md-4
							img.logo(src="images/logo.png")
						.col-md-4
							input.glyphicon.glyphicon-search(placeholder="search")
				.row
					.menu
						.col-md-6
							.menu-button HOME
							.menu-button CONTACT US
						.col-md-6
							.car
								i.
								p My Cart
								p 2 item(s) - $244.00
				.row
					.contac
						.col-md-6
							.contactus CONTACT US
						.col-md-6
							p Contact info
							p phone:0(1234)567 890
							p Mail:Infor@roadthemes.com
							p Address: No 40 Baria Street 133/2 NewYork City, NY, United States.
				.row
					.col-md-6

					.col-md-6
						.row
							.col-md-6
								input(placeholder="First Name")
								input(placeholder="Email")
							.col-md-6
								input(placeholder="Last Name")
								input(placeholder="Webside")
						.row
							input(placeholder="Subject")
							input(placeholder="Message")
							button SEND
				.row
					.col-md-3
						h5 ACCESORIES
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit quod mollitia dolorem laborum omnis totam et, placeat, quibusdam distinctio sed voluptate, consectetur unde ut alias quae adipisci corporis culpa maiores!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quos.
						i
						i
						i
						i
						i							
					.col-md-2
						h5 MY ACCOUNT
						ul
							li
								i
									p My Account
							li
								i
									p Order History
							li
								i
									p Wish List
							li
								i
									p Newsletter
					.col-md-2
						h5 INFORMATION
						ul
							li
								i
									p About us
							li
								i
									p Delivery Information
							li
								i
									p Privacy Policy
							li
								i
									p Terms & Condicions
					.col-md-2
						h5 EXTRAS
						ul
							li
								i
									p Brands
							li
								i
									p Gift Vouchers
							li
								i
									p Affiliates
							li
								i
									p Specials
					.col-md-3
						h5 ABOUT US
						ul
							li
								i
								p 8901 Marmora Road, Glasgow DO4 89
								p GR. New York
							li
								i
								p (0123)456789
								p (0987)654321
							li
								i
								p admin@bootexperts.com
		footer
			.container
				.row.fondo-pie
					.col-md-6
						p.inline Copyright &copy;2015 
							a.inline BootExperts.
						p.inline All rights reserved.
					.col-md-6
						img.text-left(src="images/payment.png")


		script(src="js/bootstrap.min.js")
		script(src="js/jquery-1.12.3.min.js")

						